/*
COLOR PALETTE
https://coolors.co/0d3b66-faf0ca-f4d35e-ee964b-f95738
#0D3B66 - Yale Blue
#FAF0CA - Lemon chiffon
#F4D35E - Naples yellow
#EE964B - Sandy brown
#F95738 - Tomato
*/

/* grid style */
/* 1. grid on the large screens 
 1a grid on the small screens
*/

/* Global styles
----------------------------------*/
html,body{
    margin: 0;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
.content-wrap{
    margin: 0 auto;
    padding: 50px 0;
    max-width: 900px;
    width: 85%;
    
}
h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
h2{
  font-size: 40px;
}
/* Header
----------------------------------*/
header{
    position: sticky;
    top: 0;
}
.portfolio{
  font-size: 25px;
}
.top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F95738;
    height: 50px;
    padding: 1em;
    
}
.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu > li{
    margin: 0 1rem;
}
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle {
    display: none;
  }
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
.portfolio{
    font-weight: bold;
}
.menu li a{
    text-transform: uppercase;
}
.menu li a:hover{
    color: #0D3B66;
}



/* Profile
----------------------------------*/
.profile{
    background: #EE964B;
    color: #FAF0CA;
    text-align: center;
}
.profile h1{
    font-size: 60px;
    padding-bottom: 20px;
}

/* Project
----------------------------------*/
.projects{
  background: #0D3B66;
  color: #FAF0CA;
}

.project-detail{
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #FAF0CA dotted;
}
.projects h2{
  text-align: center;
}
.project-detail h3{
  font-size: 25px;
}

.project-detail img{
  width: 250px;
}
.text-detail{
  max-width: 800px;
  width: 600px;
}
.text-detail p{
  width: 85%;
}
.for-more{
  margin-top: 30px;
}
.for-more a{
  padding: 15px;
  background: #F95738;
  border-radius: 15px;
  text-transform: uppercase;
}
/* Work Experience
----------------------------------*/
.employment{
  text-align: center;
  background: #F4D35E;
}
.employment-detail{
  padding: 30px 0;
  border-bottom: 1px black dotted;
}
.employment-detail:last-of-type{
  border-bottom: none;
}
.employment-detail h3{
  padding-top: 20px;
  font-size: 25px;
  text-decoration: underline;
}
.employment p,ul{
  font-size: 19px;
  
}
.employment-detail ul{
  text-align: left;
}
.employment-detail a{
  padding: 15px;
  background: #0D3B66;
  color: #FAF0CA;
  border-radius: 15px;
  text-transform: uppercase;
  
}
.employment-detail a:hover{
  background: rgba(13, 59, 102, 0.8);
}

/* Education
----------------------------------*/
.education{
  background: url("../images/gold-metal-texture.jpg");
  background-size: cover;
  
}
.education-detail{
  padding-top: 20px;
}
.education-detail p{
  padding: 0;
  margin: 0;
}

/* Contact Info
----------------------------------*/
.contact-us{
  background: url(../images/contactus-at-PUR.webp);
  background-size: cover;
  text-align: center;
}
.contact-us h2{
  padding-bottom: 50px;
}
.modal{
  
  display: flex;
  align-items: center;
  justify-content: center;
}
button.primary {
  display: inline-block;
  font-size: 0.8rem;
  color: #fff !important;
  background: #0D3B66;
  padding: 13px 25px;
  border-radius: 17px;
  transition: background-color 0.1s ease;
  box-sizing: border-box;
  transition: all 0.25s ease;
  border: 0;
  cursor: pointer;
  box-shadow: 0 10px 20px -10px rgb(var(--vs-primary) / 50%);
  &:hover {
    box-shadow: 0 20px 20px -10px rgb(var(--vs-primary) / 50%);
    transform: translateY(-5px);
  }
}
dialog {
  padding: 1rem 3rem;
  background: #0D3B66;
  color: #FAF0CA;
  max-width: 400px;
  padding-top: 2rem;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
  animation: fadeIn 1s ease both;
  text-align: left;
  &::backdrop {
    animation: fadeIn 1s ease both;
    background: rgb(255 255 255 / 40%);
    z-index: 2;
    backdrop-filter: blur(20px);
  }
  .x {
    filter: grayscale(1);
    border: none;
    background: none;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: ease filter, transform 0.3s;
    cursor: pointer;
    transform-origin: center;
    &:hover {
      filter: grayscale(0);
      transform: scale(1.1);
    }
  }
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  
}
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}
.grid-layout{
  text-align: center;
  background-color: #0D3B66;
}
/* 1. grid on the large screens  */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns on large screens */
  grid-template-rows: repeat(2, 1fr); /* 2 rows on large screens */
  gap: 10px; /* Adjust the gap between grid items */
}


/* .grid-item {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
} */
.motion-button {
  display: inline-block;
  padding: 15px 80px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.5s ease-in; /* Transition properties with timing */

  
}
.motion-button:hover {
  background-color: #F95738;
  color: #FAF0CA;
  transform: scale(1.1); /* Scale the button on hover with a longer timing */
  border-radius: 15px;
}


/* Responsive 
----------------------------------*/
@media (max-width: 700px) {
    
    .menu-button-container {
      display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
      #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      #menu-toggle:checked ~ .menu li {
        border: 1px solid #F95738;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      #menu-toggle:checked ~ .menu li a{
        display: flex;
      }
      .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color:#0D3B66 ;
      }
      .menu li a{
        display: none;
        color: #FAF0CA;
      }
      .menu li a:hover{
        color: #fff;
      }
      .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
      }
      .project-detail{
        flex-direction: column;
        align-items: center;
      }
      .text-detail{
        width: 100%;
      }
}
@media (max-width: 500px){
  .projects h2{
    font-size: 30px;
  }
.text-detail h3{
 font-size: 20px;
 padding-top: 20px;
}
.employment h2{
  font-size: 30px;
}
.employment-detail h3{
  font-size: 20px;
  padding-top: 0;
}
.employment-detail ul{
font-size: 15px;
}
.employment a{
  padding: 10px;
  font-size: 12px;
}
.education h2{
  font-size: 30px;
}
.contact-us h2{
  font-size: 30px;
}
dialog{
  max-width: 300px;
}
}