/*
COLOR PALETTE
https://coolors.co/0d3b66-faf0ca-f4d35e-ee964b-f95738
#0D3B66 - Yale Blue
#FAF0CA - Lemon chiffon
#F4D35E - Naples yellow
#EE964B - Sandy brown
#F95738 - Tomato
*/

/* Global styles
----------------------------------*/
html,body{
    margin: 0;
}
*{
    box-sizing: border-box;
}
/* Header
----------------------------------*/
.top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu > li{
    margin: 0 1rem;
    
}


/* Profile
----------------------------------*/

/* Project
----------------------------------*/

/* Education
----------------------------------*/

/* Contact Info
----------------------------------*/

/* Responsive 
----------------------------------*/