.animation-heading{
    display: flex ;
    align-items: center ;
    justify-content: center ;
    background-color: #EE964B;
    height: 50vh;
    color: #0D3B66;
}

.svg-img{
    background-color: #0D3B66;
    height: 50vh;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    flex-direction: column;

    #logo{
        width: 200px;
    }
}