@mixin media-md{
    @media screen and (min-width:768px){
        @content;
    }
}
@mixin media-lg{
    @media screen and (min-width:1024px){
        @content;
    }
}
@mixin transition-pulse{
    @keyframes pulse {
        0% {
            transform: scale(1); /* Original size */
        }
        50% {
            transform: scale(1.5); /* Larger size */
        }
        100% {
            transform: scale(1); /* Original size */
        }
      }
}
@mixin transition-move{
    @keyframes move {
        
        100% {
            transform: scale(2);
        }
      }
}
@mixin transition-typing{
    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
      }
}
@mixin transition-blink{
    @keyframes blink {
        0%, 100% {
            border-color: transparent;
        }
        50% {
            border-color: #F4D35E;
        }
      }

}
@mixin transition-flip{
    @keyframes flip {
        0% {
            transform:  rotateX(0deg);
        }
        50% {
            transform:  rotateX(360deg);
        }
        100% {
            transform: rotateX(0deg);
        }
      }
}
@mixin transition-custom{
    @keyframes customAnimation {
        0% {
            transform: translateX(-80px);
            background-color: #FAF0CA; /* Initial color */
        }
        100% {
            transform: translateX(100px);
            background-color: #EE964B; /* Color change at the end */
        }
      }
}
@mixin transition-wiggle{
    @keyframes wiggle {
        0%, 7% {
          transform: rotateZ(0);
        }
        15% {
          transform: rotateZ(-15deg);
        }
        20% {
          transform: rotateZ(10deg);
        }
        25% {
          transform: rotateZ(-10deg);
        }
        30% {
          transform: rotateZ(6deg);
        }
        35% {
          transform: rotateZ(-4deg);
        }
        40%, 100% {
          transform: rotateZ(0);
        }
      }
}