@include media-md{
    // header
    .menu-button-container{
        display: none;
    }
    .menu{
       
        flex-direction: row;
        justify-content: unset;
        position: unset;
        margin-top: unset;
        width: unset;
        align-items: baseline;
        font-size: 19px;
        &__item{
            margin: 0 1rem !important;
            & a{
                display: inline-block;
                color: black;
                &:hover{
                    color: #0D3B66;
                }
            }
        }
    }

    // projects
    .projects{
        & h2{
            font-size: 40px;
        }
        &__project-detail{
            flex-direction: row;
            & h3{
                font-size: 25px;
            }
        }
        &__text-detail{
            max-width: 800px;
            width: 600px;

            & p{
                width: 85%;
            }
        }
    }

    // employment
    .employment{
        & p{
            font-size: 19px;
        }
        & ul{
            font-size: 19px;
        }
        &__employment-detail{
            & a{
                padding: 15px;
                font-size: inherit;
            }
        }
    }
    // education
    .education {
        & h2{
            font-size: 40px;
        }
    }
    // contact
    dialog{
        max-width: 400px;
    }
    .grid-layout{
    &__grid-container{
        grid-template-columns: repeat(3, 1fr); /* 3 columns on large screens */
  grid-template-rows: repeat(2, 1fr); /* 2 rows on large screens */
  gap: 10px; /* Adjust the gap between grid items */ 
    }
}
}