@import 'config';
@import 'header';
@import 'profile';
@import 'projects';
@import 'employment';
@import 'education';
@import 'contact-us';
@import 'motion';
@import 'responsive';
html{
    margin: 0;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
h2{
    font-size: 40px;
  }
